* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #495e7b;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 950px;
  margin: 100px auto;
}

/*#region NAVBAR*/
.nav-icon {
  display: table;
  width: 60px;
  height: 60px;
}
.nav-icon i {
  color: #c5cdd1;
  font-size: 2rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.nav-icon i:hover {
  color: #ffffff;
  background-color: #56ccc8;
}

.line {
  border-left: solid 1px #c5cdd1;
  height: 60px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  margin: 10px 0;
}
.navbar-list {
  list-style-type: none;
  display: flex;
}

.navbar-list a {
  text-decoration: none;
  color: #475055;
  text-transform: uppercase;
  margin-left: 50px;
}

.navbar-list a:hover {
  color: #56ccc8;
}
/*#endregion*/

/*#region MAIN SECTION*/
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

/*#region LEFT COLUMN*/

.main-left-col {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.main-col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 225px;
}

.main-col2 {
  display: flex;
  flex-direction: column;
  width: 241px;
}

.item {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 1px #c5cdd1;
}

.item:hover {
  background-color: #56ccc8;
}

.item:hover i,
.item:hover p {
  color: #ffffff;
}

.item i {
  color: #c5cdd1;
  font-size: 1.5rem;
  margin-left: 15px;
}

.item-text {
  color: #475055;
  margin-left: 25px;
}

.item-contact-wrapper {
  background-color: #c5cdd1;
}

.item-contact {
  display: flex;
  align-items: center;
  height: 82px;
}

.item-contact i {
  font-size: 1.5rem;
  margin-left: 15px;
  color: #ffffff;
}

.item-contact p {
  color: #ffffff;
}

.item-contact:hover i {
  transform: scale(1.5, 1.5);
}

.box {
  background-color: #152840;
  border-bottom: solid 1px #ffffff;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box:nth-child(2) {
  height: 190px;
}

.box:last-child {
  border-bottom: 0;
}

.box-item-title {
  display: flex;
  justify-content: space-between;
  color: #56ccc8;
  margin-left: 35px;
}

.box-item-title i {
  margin-right: 20px;
  font-size: 1.25rem;
}

.box-item-title:hover {
  color: #ffffff;
}

.box-item p {
  color: #ffffff;
  margin-left: 35px;
}

.box-item p:hover {
  color: #56ccc8;
}

/*#endregion*/

/*#region RIGHT COLUMN*/

.main-right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
}

.main-col3 {
  display: flex;
  justify-content: space-between;
}

.app-left {
  display: flex;
  flex-direction: column;
  height: 317px;
  width: 219px;
  background-color: #ffffff;
  justify-content: space-evenly;
}

.app-item {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.app-item i {
  font-size: 2rem;
  color: #c5cdd1;
}

.app-item:hover i {
  transform: scale(1.5, 1.5);
  transition-duration: 0.25s;
}

.app-left a:hover:nth-child(1) i {
  color: #4d6baa;
}
.app-left a:hover:nth-child(2) i {
  color: #4fc6f8;
}
.app-left a:hover:nth-child(3) i {
  color: #ea6060;
}
.app-left a:hover:nth-child(4) i {
  color: #f26522;
}
.app-left a:hover:nth-child(5) i {
  color: #bd081c;
}

.app-item:hover p {
  color: #56ccc8;
}

.app-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 220px;
}

.app-face-tweet {
  min-height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4d6baa;
  padding: 20px 15px 20px 25px;
}

.app-face-tweet:last-child {
  background-color: #4fc6f8;
}

.app-face-tweet i {
  font-size: 3rem;
  color: #ffffff;
}

.app-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-info p {
  color: #ffffff;
}

.app-info i {
  font-size: 2rem;
}

.app-info-corner {
  display: flex;
  align-items: center;
}

.app-info-corner p {
  margin-right: 10px;
}

.main-col4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 166px;
  align-items: center;
}

.sign-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-title p {
  margin-top: 10px;
  color: #475055;
}

.sign-title h2 {
  color: #475055;
}

.app-icons i {
  font-size: 2rem;
  margin-right: 20px;
}

.app-icons i:hover {
  transform: scale(1.5, 1.5);
  transition-duration: 0.25s;
}

.app-icons a:nth-child(1) {
  color: #4d6baa;
}

.app-icons a:nth-child(2) {
  color: #4fc6f8;
}

.app-icons a:nth-child(3) {
  color: #ea6060;
}

.app-icons a:nth-child(4) {
  color: #238cc8;
}

.submit input {
  width: 286px;
  height: 39px;
  font-size: 1rem;
  border: solid 1px #c5cdd1;
  padding-left: 10px;
}

.submit input:hover {
  border: solid 1px #475055;
}

.submit button {
  width: 98px;
  height: 39px;
  background-color: #ea6060;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*#endregion*/

/*#endregion*/
