* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #495e7b;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 100px auto;
}

/*#region NAVBAR*/
.nav-icon {
  display: table;
  width: 60px;
  height: 60px;
}
.nav-icon i {
  color: #c5cdd1;
  font-size: 2rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.nav-icon i:hover {
  color: #ffffff;
  background-color: #56ccc8;
}

.line {
  border-left: solid 1px #c5cdd1;
  height: 60px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  margin: 10px 0;
}
.navbar-list {
  list-style-type: none;
  display: flex;
}

.navbar-list a {
  text-decoration: none;
  color: #475055;
  text-transform: uppercase;
  margin-left: 50px;
}

.navbar-list a:hover {
  color: #56ccc8;
}
/*#endregion*/

/*#region MAIN SECTION*/
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.main-left-col {
  display: flex;
  flex-wrap: wrap;
}

.main-col1 {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  height: 60px;
  min-width: 225px;
  align-items: center;
  background-color: #ffffff;
  border-bottom: solid 1px #c5cdd1;
}

.item:hover {
  background-color: #56ccc8;
}

.item:hover i,
.item:hover p {
  color: #ffffff;
}

.item i {
  color: #c5cdd1;
  font-size: 1.5rem;
  margin-left: 15px;
}

.item-text {
  color: #475055;
  margin-left: 25px;
}

.item-contact-wrapper {
  background-color: #c5cdd1;
}

.item-contact {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}

.item-contact i {
  font-size: 1.5rem;
  margin-left: 15px;
  color: #ffffff;
}

.item-contact p {
  color: #ffffff;
}

.item-contact:hover i {
  transform: scale(1.5, 1.5);
}

.box {
  background-color: #152840;
  min-width: 240px;
  border-bottom: solid 1px #ffffff;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box:nth-child(2) {
  height: 180px;
}

.box:last-child {
  border-bottom: 0;
}

.box-item-title {
  display: flex;
  justify-content: space-between;
  color: #56ccc8;
  margin-left: 35px;
}

.box-item-title i {
  margin-right: 20px;
  font-size: 1.25rem;
}

.box-item-title:hover {
  color: #ffffff;
}

.box-item p {
  color: #ffffff;
  margin-left: 35px;
}

.box-item p:hover {
  color: #56ccc8;
}

.main-col2 {
  display: flex;
  justify-content: space-evenly;
}

.app-left {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-evenly;
}

.app-item {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.app-item i {
  font-size: 2rem;
  color: #c5cdd1;
}

.app-item:hover i {
  transform: scale(1.5, 1.5);
}

.app-item:hover p {
  color: #56ccc8;
}

.app-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.app-face-tweet {
  min-height: 150px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4d6baa;
  padding: 20px 15px 20px 25px;
}

.app-face-tweet:last-child {
  background-color: #4fc6f8;
}

.app-face-tweet i {
  font-size: 3rem;
  color: #ffffff;
}

.app-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-info p {
  color: #ffffff;
}

.app-info i {
  font-size: 2rem;
}

.app-info-corner {
  display: flex;
  align-items: center;
}

.app-info-corner p {
  margin-right: 10px;
}
/*#endregion*/
